
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
       <a class="navbar-brand" href="#">WELCOME FCODE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">More</a>
      </li>
    </ul>
  </div>
    </div>
  </nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.imgur.com/tE9TEKI.jpg" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h5>Get the latest Firefox browser.</h5>
        <p>Automatic privacy is here. Download Firefox to block over 2000 trackers.</p>
        <a href="#">Download Now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.imgur.com/qqIkCL3.jpg" class="d-block w-100" >
       <div class="carousel-caption d-none d-md-block">
        <h5>Firefox products are designed to protect your privacy</h5>
        <p>You should be able to decide who sees your personal info. Not just among your friends, but with every advertiser and company on the internet — including us.</p>
        <a href="#services">More Info</a>
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row gap50">
          <div class="col-sm-6 col-md-6 col-xs-12 float-md-left">
            <img class="img-fluid" src="https://www.mozilla.org/media/img/firefox/privacy/promise/less.6d72fe1b14a9.jpg"/>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">           
          <h1>Take Less</h1>
          <h2>We make a point of knowing less about you</h2>
          <p>All tech companies collect data to improve their products. But it doesn’t need to include so much of your personal info. The only data we want is the data that serves you in the end. We ask ourselves: do we actually need this? What do we need it for? And when can we delete it?.</p>         
          </div>
       </div>
        <div class="row gap50">
          <div class="col-sm-12 col-md-12 col-xs-12">
            <img class="img-fluid float-right" src="https://www.mozilla.org/media/img/firefox/privacy/promise/safe.081b4d1df4b7.jpg"/>        
         
              <h1>Keep it safe</h1>
            <h2>We do the hard work to protect your personal info</h2>
            <p>Data security is complicated — or at least it should be. Which is why we take the extra steps to classify the data we have, maintain rules for how we store and protect each type, and never stop iterating on our processes. We prioritize your privacy. We invest in it. We’re committed to it. We even teach other companies how to do it.</p> 
          </div>

       </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="https://i.imgur.com/UTVYGn2.png" >
      </div>
      <h3>See what’s being blocked</h3>
      
      <p>Firefox shows you how many data-collecting trackers are blocked with <strong> Enhanced Tracking Protection.</strong></p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="https://i.imgur.com/h2cJGDI.png" >
      </div>
      <h3>Make your passwords portable</h3>
    
      <p> <strong>Firefox Lockwise </strong> makes the passwords you save in Firefox secure and available on all your devices.</p></div>
    <div class="team_member">
      <div class="team_img">
        <img src="https://i.imgur.com/drIqvV8.png" >
      </div>
      <h3>Watch for data breaches</h3>
     
      <p><strong>FireFox Monitor </strong>alerts you if we know your information is a part of another company’s data breach.</p>
    </div>
  </div>

      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright @2020 project website</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>
